@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
     --Violet: hsl(257, 40%, 49%);
    --Soft-Magenta: hsl(300, 69%, 71%); 
}

body{
    background-color: var(--Violet);
    background-image: url(/huddle-landing-page/images/bg-desktop.svg);
    /* max-width: 80vw; */
    /* width: 90%; */
}


.container{
    padding: 1.6rem 3rem;
    padding-bottom: 0px;
}


section{
    margin: 2rem 0rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 6rem;
}
section .img-section img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
section .content-section{
margin-top: 2.5rem;
color: white;
display: flex;
flex-direction: column;
/* justify-content: center; */
/* align-items: center; */
row-gap: 1.7rem;
font-family: "Open Sans", serif;
text-transform: capitalize;

}

.content-section .heading-section{
font-weight: bold;
font-size: 1.5rem;
}

.content-section button{
    align-self: flex-start;
    padding: 0.8rem 3.5rem;
    color: var(--Violet);
    background-color: white;
    border: 0;
    border-radius: 1rem;
    font-weight: bold; 
    transition: 1s all ease-in-out;
}
.content-section button:hover{
    background-color: var(--Soft-Magenta);
    color: white;
}

footer{
    color: white;
    display: flex;
    justify-content: flex-end;
    column-gap: 0.6rem;
    margin: 1.5rem 0px;
}
footer span{
    border: 1px solid white;
    padding: 0.4rem;
    border-radius: 50%;
    text-align: center;

}
footer span:hover{
    border: 0;
}

@media(max-width:835px){
    body{
        background-image: url(/huddle-landing-page/images/bg-mobile.svg);
        background-repeat: no-repeat;
    }
    
    section{
        grid-template-columns: repeat(1,1fr);
        /* justify-content: center; */
        /* text-align: center; */
    }
    section .content-section{
    text-align: center;
    }
    section .content-section button{
        align-self: center;
    }
    footer {
        justify-content: center;
    }

}